################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AbbeyEFCore/AbbeyClasses/mySqlSettings.json
/AbbeyEFCore/AbbeyRestAPI/appsettings.json
/AbbeyEFCore/AbbeyRestAPI/Properties/launchSettings.json
/AbbeyEFCore/AbbeyClasses/jsconfig1.json
