@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Statement";
}
<h1>@ViewData["Title"]</h1>

<p>Do not enter sensitive information into the form.
    This project is for testing purposes only.</p>
